.settings {
  margin-left: auto;
  margin-right: 30px;
  color: white;
  width: 70px;
  height: 70px;
  background: #211f40;
  border-radius: 50%;

  & h2 {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    font-size: 45px;
  }

  &:hover {
    cursor: pointer;
  }
}

.circle-menu,
.circle-menu:before,
.circle-menu:after {
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}

.center {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 0.75em;
  background: #211f40;
  opacity: 0.8;

  & button {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 120px;
    border: none;
    height: 100%;
    background: radial-gradient(rgba(80, 12, 168, 0.315), transparent 50%);
    opacity: 1;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &:active {
      background: none;
    }
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  & .center-btn {
    & .center-btn__text {
      & h3 {
        text-align: center;
        color: white;
        font-size: 28px;
        margin: 0;
      }

      & p {
        text-align: center;
        color: gray;
        margin: 0;
      }
    }
  }
}

nav {
  position: relative;
  margin: 5em auto;
  min-width: 16em;
  width: 72%;
  max-width: 40em;

  & ul {
    position: relative;
    padding: 50%;
    max-width: 0;
    max-height: 0;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    list-style: none;
  }

  & li {
    position: absolute;
    transition: 0s;
    background: linear-gradient(to left top, rgb(7, 44, 100), white);
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}

.slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;

  & button {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 190px;
    top: 180px;
    border: 0;
    font-size: 54px;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
  }
}

.slice:hover {
  opacity: 0.8;
}

.page {
  transform: skewX(47deg);

  & button {
    transform: skewX(-47deg) scale(1.3);
  }
}

.handshake {
  transform: rotate(45deg) skewX(47deg);

  & button {
    transform: rotate(1deg) skewX(-6deg) skewY(-28deg) scale(1.5);
  }
}

.shush {
  transform: rotate(90deg) skewX(47deg);

  & button {
    background: none;
    transform: rotate(-65deg) skewX(30deg) skewY(30deg) scale(1.2);
  }
}

.greeting {
  transform: rotate(135deg) skewX(47deg);

  & button {
    transform: rotate(-65deg) skewX(47deg) scale(1.3);
  }
}

.cross {
  background: linear-gradient(to left top, rgb(202, 4, 4), black);
  transform: rotate(180deg) skewX(47deg);

  & button {
    transform: rotate(-180deg) skewX(-47deg) scale(1.3);
  }
}

.kiss {
  transform: rotate(-135deg) skewX(47deg);

  & button {
    transform: rotate(183deg) scale(1.2) skewX(-22deg) skewY(-40deg) scale(1.1);
  }
}

.car {
  transform: rotate(-90deg) skewX(47deg);

  & button {
    transform: rotate(131deg) skewX(35deg) skewY(4deg) scale(1.4);
  }
}

.biceps {
  transform: rotate(-45deg) skewX(47deg);

  & button {
    transform: rotate(90deg) skew(20deg) scale(1.4);
  }
}
